@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import './header.css';
@import './accountStats.css';
@import './/overviewToday.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  transition: all 0.5s ease;
  font-family: 'Inter', sans-serif;
}

body.dark-bg {
  background: #1e202a;
}

.attribution {
  margin-top: 10%;
  padding: 4em 4em 2em 4em;
  font-size: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #35ada7;
}
